<body>
  <header>
    <nav>
      <ul>
        <li>
          <i class="fas fa-plane-departure fa-3x"></i>
        </li>
        <li>
          <h1>Flight</h1>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/flights/new">Add Flights</a>
        </li>
        <li>
          <a href="/flights">All Flights</a>
        </li>
      </ul>
    </nav>
  </header>