<body>
  <header>
    <nav>
      <ul>
        <li>
          <i class="fas fa-plane-departure fa-3x"></i>
        </li>
        <li>
          <h1>Mongoose Flights</h1>
        </li>
        <div id="nav-right">
        <li>
          <a href="/">Home</a>
        </li> |
        <li>
          <a href="/flights/new">Add a Flight</a>
        </li>|
        <li>
          <a href="/flights">All Flights</a>
        </li>
        </div>
      </ul>
    </nav>
  </header>