<body>
  <header>
    <nav>
      <ul>
        <li>
          <h1><%= title %></h1>
        </li>
        <li>
          <a href="/flights/new">Add Flights</a>
        </li>
        <li>
          <a href="/flights">All Flights</a>
        </li>
      </ul>
    </nav>
  </header>