<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <h1><%= title %></h1>
        </li>
        <li>
          <a href="/flights/new">Add Flights</a>
        </li>
        <li>
          <a href="/flights">All Flights</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>
