body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background-image: url('../stylesheets/images/airplane.jpg');
}
header {
  background-color: #e7ecef;
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
}
header * {
  display: inline;
  width: auto;
}
li {
  margin: 20px;
}

li a {
  color: #374c77;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

}
ul {
  padding: 0;
}

h1 {
  font-size: 30px;
  margin-left: -25px;
  text-align: center;
}

a:hover {
  color: #6096ba;
}

form {
  text-align: center;
  line-height: 40px;
}

#wrapper {
  display: inline-block;
  text-align: left;
}

button {
  margin-top: 10px;
}