body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background-image: url('../stylesheets/images/airplane.jpg');
  font-family: 'Karla', sans-serif;
}
header {
  background-color: #e7ecef;
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
}
header * {
  display: inline;
  width: auto;
}
li {
  margin: 20px;
}

li a {
  color: #374c77;
  text-decoration: none;


}
ul {
  padding: 0;
}

h1 {
  margin-left: -25px;
  text-align: center;
}

a:hover {
  color: #6096ba;
}
form {
  text-align: center;
  line-height: 40px;
}

#wrapper {
  border: 7px solid #A3CEF1;
  background-color: rgb(220, 236, 250, 0.3);
  border-radius: 4%;
  display: inline-block;
  text-align: left;
  padding: 20px;
}

.btn {
  margin-top: 20px;
  margin-left: 40%;
}

.border {
  border: 7px solid #A3CEF1;
  background-color: rgb(220, 236, 250, 0.3);
  border-radius: 4%;
  width: 40%;
}


.place {
  display: inline-block;
}

button.destbutton {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.dropdown-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.border {
  margin: auto;
}