body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background-image: url('../stylesheets/images/airplane.jpg');
  font-family: 'Karla', sans-serif;
}
header {
  background-color: rgb(231, 236, 239);
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
}
header * {
  display: inline;
  width: auto;
}
li {
  margin: 20px;
  text-decoration: none;
}

li a {
  color: #374c77;
}
ul {
  padding: 0;
  list-style: none
  ;
}

h1 {
  margin-left: -25px;
  text-align: center;
}

a:hover {
  color: #6096ba;
}

main {
  line-height: 30px;
  text-align: center;
}

#add-ticket-form {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.title {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}

.input {
  font-size: 16px;
}

table {
  display: inline-block;
  margin-top: 20px;
}

button {
  margin-bottom: 7px;

}

#details {
  
  border: 7px solid #A3CEF1;
  background-color: rgb(220, 236, 250, 0.3);
  border-radius: 4%;
  display: inline-block;
  width: 50%;
}

input {
  width: 15%;
  margin-bottom: 15px;
}
