body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
}
header {
  background-color: skyblue;
  position: fixed;
  height: 50px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
}
header * {
  display: inline;
}
li {
  margin: 20px;
}

li a {
  color: blue;
  text-decoration: none;
}




